<div class="container-fluid container-table">
    <div id="form_container" class="row vertical-center-row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
            <h1 class="text-center" style="margin-bottom: 50px">KRDS FAV</h1>
            {{> form this}}
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-8">
                    <button id="btn_submit" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-success" id="alert_info" role="alert" style="display:none;"></div>
<script src="/javascript/app/index.js"></script>
